<!DOCTYPE html>
 <html>
   <head>
     <title>User Page</title>
     <link rel="stylesheet" type="text/css" href="stylesheets/styles.css" />
     <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
   </head>
<body>
  <p>Successful Login at: {{username}}</p>
</body>
