<!DOCTYPE html>
 <html>
   <head>
     <title>User Page</title>
     <link rel="stylesheet" type="text/css" href="stylesheets/styles.css" />
     <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
   </head>
<body>
    <form action="/logout" method="post">
      <p>Successful Login at: {{username}}</p>
       <br>
      <button type="submit">Logout</button>
    </form>
    <script type="text/javascript" src="main.js"></script>
</body>
