<!DOCTYPE html>
 <html>
   <head>
     <title></title>
     <link rel="stylesheet" type="text/css" href="stylesheets/styles.css" />
     <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
   </head>
<body>
     <form action="/" method="post">
           <!-- <h1>Your List</h1> -->
           <p>Login Page:</p>
           <input type="text" name="user" placeholder="Username" />
           <input type="text" name="user" placeholder="Password" />
           <button type="submit">Login</button>
      </form>
    <div>

   </div>
  <script type="text/javascript" src="javascripts/main.js"></script>
</body>
