<!DOCTYPE html>
 <html>
   <head>
     <title>Login</title>
     <link rel="stylesheet" type="text/css" href="stylesheets/styles.css" />
     <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
   </head>
<body>
     <form action="/login" method="post">
           <p>Login Page:</p>
           <input type="text" name="username" placeholder="Username" />
           <input type="text" name="password" placeholder="Password" />
           <button type="submit">Login</button>
      </form>
      <form action="/signuppageredirect" method="post">
         <p>Sign up for an account:</p>
         <button type="submit">Sign Up</button>
      </form>
  <script type="text/javascript" src="javascripts/main.js"></script>
</body>
